.button {
    -fx-pref-width: 60px;
    -fx-pref-height: 60px;
    -fx-border-radius: 0;
    -fx-border-color: #0a84ff;
    -fx-font-size: 30px;
    -fx-background-color: #031c37;
    -fx-font-weight: bold;
}

.button:disabled {
    -fx-background-color: #e8e8e8;
    -fx-color-label-visible: #fff;
}